@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    --primary-color : #047857;
    --dark-color: #4B5563;
    --off-white:#E5E7EB;
}


body {
    font-family:'Rubik', sans-serif; 
    margin: 0px;
}

h1 {
    margin: 2.5rem 0rem;
}

/* ------container----- */
.container {
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}



/*------ Links----- */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem ;

}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.primary-link:hover {
    color: black;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}
.secondary-link:hover {
    color: black;
}

/* look into BEM naming convention for css */

/*----- Lists ------*/

.list-non-bullet {
    list-style: none;
}
.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* ------navigation------ */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
}
.navigation .link {
    color: white;
    
}
.navigation .nav-pills {
    text-align: right;
}
.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}
.navigation .link-active {
    font-weight: bold;
}

/* -----header------ */
.hero {
    padding:2rem;
}
.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}
.hero .hero-heading {
    text-align: center;
    color: var(--dark-color);
    padding-top: 1rem;
    padding-bottom: 0;
}

/* -----sections------- */

.section {
    padding: 1.5rem;
}
.section .section-head{
    text-align: center;
}

.off-white {
    background-color: var(--off-white);
}

/* -----footer------ */
.footer {
 background-color: var(--primary-color);
 padding: 2rem 1rem;
 color:white;
 text-align: center;
 border-top-right-radius: 1rem;
}
.footer .link {
    color: white;
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/* ----list space---- */
.spacing {
    padding:50px;
}
.space-color {
    background-color:var(--off-white); 
    
}